@import url('reset.css');

#skipnavi {position:relative;width:100%;z-index:2;*height:0px;}
#skipnavi a {display:block;overflow:hidden;height:0px;width:0px;margin:-1px -1px -1px 0;font-size:0;line-height:0;text-align:center;}
#skipnavi:focus {overflow:hidden;height:100px;background:#0d2f51;font-weight:700;line-height:1.4;}
#skipnavi a:focus, #skipnavi a:hover, #skipnavi a:active {width:auto;height:20px;margin:0;padding:8px 0 0 15px;background:#0d2f51;font-weight:700;line-height:1.4;color:#fff;}

/***** layout *****/
#wrapper {position:relative;width:100%;min-width:1200px;height:100%;}
#wrapper > iframe {display:none;}
#header {position:fixed;top: 0; left: 0; width: 100%; padding: 3rem 0;}
#header .header_box {position:relative; width:100%; height: 80px; margin:0 auto;}
#header .header_box > .txt {position: absolute; top: 50%; left: 50%; width: 170px; margin-top: -9px; margin-left: -70px; font-size: 13px; font-weight: bold; color: #828282; text-align: center;}
#header .header_box > .txt span {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#header .header_box > .txt span:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#header .logo {position: absolute;top: 0;left: 3.5%; display:inline-block;}
#header .logo h1 {width: 100%; height: 100%;}
#header .logo img {line-height: 1;font-size: 1%;}
#header .gnb {position: absolute;top: 50%;right: 3.5%; margin-top: -32px; width: 65px; height: 65px; border:1px solid #3e3e3e;}
#header .gnb img {display: block; margin: 0 auto; padding: 23px 0;}

#container {position: relative; width: 100%; margin-top: 176px;}
#content {position: relative; margin: 0 auto; width: 1400px;}

#footer {position: relative; width: 100%;}
.foot_box {position: relative; width: 1400px; margin: 0 auto; background: #3e3e3e; color: #fff; padding: 50px 50px 80px; border-bottom: 1px solid #5b5b5b;}
.foot_box .info {margin-left: 300px; }
.foot_box .info > div {float: left; margin: 0 30px;}
.foot_box .info > div:first-child {margin-left: 0;}
.foot_box .info > div:last-child {margin-right: 0;}
.foot_box .info .pro_tit {margin-bottom: 10px; font-size: 15px; color: #dfdfdf;}
.foot_box .info .pro_list li {font-size: 13px; color: #949494; margin-bottom: 5px;}
.foot_box .info .pro_list .skill {padding: 10px; border:1px solid transparent; text-align: center; margin-bottom: 7px;}
.foot_box .info .pro_list .skill.ps {border-color: #1dc0ee; color: #1dc0ee;}
.foot_box .info .pro_list .skill.ai {border-color: #ec8527; color: #ec8527;}
.foot_box .info .pro_list .skill.dw {border-color: #71cd38; color: #71cd38;}
.foot_box .photo {position: absolute;top:50px; left:50px;}
.foot_box .photo_box {position: relative; width: 170px; height: 170px;}
.foot_box .photo_box img {width: 100%;}
.foot_box .contact {position: absolute; bottom: -30px; left: 100px; width: 170px; z-index: 2; padding: 20px 50px;color: #fff; background: #0b21ee url(../images/main/i_more.png) no-repeat 90% 50%; border: 2px solid #0b21ee; font-weight: 700; -webkit-transition: background 300ms, color 300ms, border 300ms; transition: background 300ms, color 300ms, border 300ms;}
.foot_box .contact:hover {color: #fffc00; border-color: #fffc00; background:transparent  url(../images/main/i_Fmore_on.png) no-repeat 90% 50%;}
.sns_box {position: relative; width: 1400px; margin: 0 auto; background: #3e3e3e;padding: 50px 0;color: #949494;text-align: center; font-weight: 700;}
.sns_box .sns_list {width: 130px; margin: 0 auto; margin-bottom: 20px;}
.sns_box .sns_list li {float: left; margin-left: 15px; opacity: 0.5;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.sns_box .sns_list li:hover {float: left; margin-left: 15px;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}
.sns_box .sns_list li:first-child {margin-left: 0;}
.thum_list {position: relative;}
.thum_list li {float: left; position: relative;}
.thum_list li a {width: 700px; height: 700px;display: block;}

.thum_list .mask {position: absolute;left: 0;top: 0;width: 700px;height: 700px;padding: 18% 10%;color: #fff;background: rgba(11,33,238,0.8); opacity: 0;-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.thum_list li:hover a .mask {opacity: 1;}
.thum_list .mask > .tit {display: block;margin-bottom: 20px;font-size: 27px;font-weight: 400;line-height: 1.2;}
.thum_list .mask > .txt {display: block;font-size: 16px;font-weight: 300;}
.thum_list .btn_more img {position: absolute; bottom: 35%; left: 10%; display: inline-block;vertical-align: 4px; transition: all 0.5s ease-in-out;}
.thum_list li:hover .btn_more img {left: 13%}
